<aside class="nextprev-section">
	{{#next_post}}
	<section class="nextprev-newer {{post_class}}">
		{{#if feature_image}}
		<a href="{{url}}" class="nextprev-image global-image global-color">
			{{>images/post_small_feature_img}}
		</a>
		{{/if}}
		<div>
			<small>{{t "Newer post"}}</small>
			<h3><a href="{{url}}" class="global-underline">{{title}}</a></h3>
		</div>
	</section>
	{{/next_post}}
	{{#prev_post}}
	<section class="nextprev-older {{post_class}}">
		<div>
			<small>{{t "Older post"}}</small>
			<h3><a href="{{url}}" class="global-underline">{{title}}</a></h3>
		</div>
		{{#if feature_image}}
		<a href="{{url}}" class="nextprev-image global-image global-color">
			{{>images/post_small_feature_img}}
		</a>
		{{/if}}
	</section>
	{{/prev_post}}
</aside>