{{!< default}}
{{#author}}
<div class="archive-section">
	{{#if profile_image}}
	<div class="archive-image global-image">
		{{>images/tag_author_img tag_author_image=profile_image}}
	</div>
	{{else if cover_image}}
	<div class="archive-image global-image">
		{{>images/tag_author_img tag_author_image=cover_image}}
	</div>
	{{/if}}
	<h1 class="archive-title">{{name}}</h1>
	<span class="archive-details">{{#if location}}{{t "from"}} {{location}} / {{/if}}{{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
	<div class="archive-icons">
		{{#if website}}
		<a href="{{website}}" aria-label="link Website">{{>icons/site/link}}</a>
		{{/if}}
		{{#if facebook}}
		<a href="{{facebook_url}}" aria-label="link Facebook">{{>icons/social/facebook}}</a>
		{{/if}}
		{{#if twitter}}
		<a href="{{twitter_url}}" aria-label="link Twitter">{{>icons/social/twitter}}</a>
		{{/if}}
	</div>
	{{#if bio}}
	<p class="archive-description">{{bio}}</p>
	{{/if}}
</div>
{{/author}}
{{>loop}}
{{pagination}}