{{#is "index, post, tag, author"}}
{{^if @member}}
<div class="subscribe-section">
	<div class="subscribe-wrap">
		<h3>{{t "Subscribe to new posts."}}</h3>
		<form data-members-form="subscribe" class="subscribe-form">
			<input data-members-email type="email" placeholder="{{t "Your email address"}}" aria-label="{{t "Your email address"}}" required>
			<button class="global-button" type="submit">{{t "Subscribe"}}</button>
			<div class="subscribe-alert">
				<small class="alert-loading">{{t "Processing your application"}}</small>
				<small class="alert-success">{{t "Great! Check your inbox and confirm your subscription"}}</small>
				<small class="alert-error">{{t "There was an error sending the email"}}</small>
			</div>
		</form>
	</div>
</div>
{{/if}}
{{/is}}